body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
* {
    box-sizing: border-box; line-height: normal;
    font-family: inherit; margin: unset;
}
img {
    max-width: 100%;
    height: auto;
}

tableoperator {
    th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    th:last-child {
        border-top-right-radius: 10px; border-bottom-right-radius: 0px;
    }
}
table {
    border-collapse: collapse; table-layout: fixed;
}
a {
    text-decoration: none;
    display: block;
}
ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}